# Default ignored files
/shelf/
/workspace.xml

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Removing target foldrs ###
discovery-server/target/
inventory-service/target/
order-service/target/
product-service/target/
